@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Josefin Sans";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
// ***************************************
.container--main {
  display: flex;
  min-height: calc(100vh - 150px);
}

aside {
  background-color: #fff;
  width: 270px;
  position: relative;
  bottom: 80px;
  border-top-right-radius: 20px;
  color: #7f7e86;
  padding: 30px 0 0 30px;
}
aside p {
  color: #494a52;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 40px;
}
aside ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
aside li {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 15px 0;
  display: flex;
  align-items: center;
  &:hover {
    color: #494a52;
    transition: all 0.2s ease-in;
    transform: scale(1.05);
  }
}

aside li a {
  margin-left: 10px;
}

li {
  list-style: none;
}

section {
  background-color: #f4f5fa;
  flex-grow: 1;
  padding: 50px 10px;
  // width: 100%;
}
header {
  background-color: #3f47f4;
  height: 150px;
  color: #fff;
  font-weight: bold;
  padding: 30px 10px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  aside {
    display: none;
  }
}
