@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  background-color: rgba(239, 246, 246, 0.93);
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Josefin Sans";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
