.container {
  position: relative;
}
.sidebar {
  position: absolute;
  top: 90%;
  left: -5%;
}
.stack {
  position: absolute;
  left: 4%;
  top: 60px;
  div {
    display: flex;
    gap: 20px;
    p {
      background-color: rgba(0, 0, 0, 0.549);
      padding: 10px 13px;
      border-radius: 10px;
      &:hover {
        background-color: rgb(245, 241, 241);
        color: black;
        transform: scale(1.05);
        transition: all 0.2s ease-in-out;
      }
    }
  }
  @media (min-width: 600px) {
    display: none;
  }
}
